<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [ ]:
## Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock import Vnstock

In [ ]:
## Có thể gọi các class chi tiết trong thư viện thay vì sử dụng cấp cao nhất là Vnstock
from vnstock import Listing, Quote, Company, Finance, Trading, Screener

In [ ]:
## Bạn cũng có thể gọi các class trong theo vị trí chi tiết của nguồn dữ liệu
from vnstock.explorer.vci import Listing, Quote, Company, Finance, Trading

# hoặc

from vnstock.explorer.tcbs import Quote, Company, Finance, Trading, Screener

# II. Truy xuất dữ liệu - CK Việt Nam

* Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau. Luồng công việc minh hoạ dưới đây giả định bạn bắt đầu với 1 mã chứng khoán cần phân tích, mặc định là VN30F1M. Bạn có thể thay đổi sang mã bất kỳ bằng cách nhập tham số `symbol` tại hàm chức năng thay vì khởi tạo lại đối tượng. Ví dụ, mã `VN30F1M` được gán khi tạo đối tượng, nhưng khi gọi dữ liệu giá lịch sử, bạn có thể cập nhật mã mới là `ACB` thay vì khởi tạo lại đối tượng một cách bất tiện: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

In [ ]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='ACB', source='VCI')

## Listing: Liệt kê danh sách chứng khoán

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [ ]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
stock.listing.all_symbols()

     symbol                                         organ_name
0       YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1       YEG                     Công ty Cổ phần Tập đoàn Yeah1
2       YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3       YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4       XPH                    Công ty Cổ phần Xà phòng Hà Nội
...     ...                                                ...
1704    AAS            Công ty Cổ phần Chứng khoán SmartInvest
1705    AAM                    Công ty Cổ Phần Thủy Sản MeKong
1706    AAH                           Công ty Cổ phần Hợp Nhất
1707    AAA                  Công ty Cổ phần Nhựa An Phát Xanh
1708    A32                                 Công ty Cổ phần 32

[1709 rows x 2 columns]

### Liệt kê mã CP theo sàn (đầy đủ)

In [ ]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
stock.listing.symbols_by_exchange()

,symbol,exchange,type,organ_short_name,organ_name
0,YTC,UPCOM,STOCK,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1,YEG,HSX,STOCK,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1
2,YBM,HSX,STOCK,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3,YBC,UPCOM,STOCK,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4,XPH,UPCOM,STOCK,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội
...,...,...,...,...,...
2753,AAS,UPCOM,STOCK,Chứng khoán SmartInvest,Công ty Cổ phần Chứng khoán SmartInvest
2754,AAM,HSX,STOCK,Thủy sản Mekong,Công ty Cổ Phần Thủy Sản MeKong
2755,AAH,UPCOM,STOCK,Than Hợp Nhất,Công ty Cổ phần Hợp Nhất
2756,AAA,HSX,STOCK,An Phát Bioplastics,Công ty Cổ phần Nhựa An Phát Xanh
2757,A32,UPCOM,STOCK,Công ty 32,Công ty Cổ phần 32

### Liệt kê mã CP theo ngành icb

In [ ]:
stock.listing.symbols_by_industries()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,BMK,Công ty Cổ Phần Kỹ thuật Nhiệt Mèo Đen,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1,LPT,Công ty Cổ phần Thương mại và Sản xuất Lập Phư...,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Đào tạo & Việc làm,CT,2000,2700,2790,2793
2,ACB,Ngân hàng Thương mại Cổ phần Á Châu,Ngân hàng,Ngân hàng,Ngân hàng,NH,8301,8300,8350,8355
3,CAG,Công ty Cổ phần Cảng An Giang,Vận tải,Hàng & Dịch vụ Công nghiệp,"Kho bãi, hậu cần và bảo dưỡng",CT,2000,2700,2770,2777
4,AGR,Công ty Cổ phần Chứng khoán AGRIBANK,Dịch vụ tài chính,Dịch vụ tài chính,Môi giới chứng khoán,CK,8000,8700,8770,8777
...,...,...,...,...,...,...,...,...,...,...
1587,XMD,Công ty Cổ phần Xuân Mai - Đạo Tú,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1588,CQT,Công ty Cổ phần Xi măng Quán Triều VVMI,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1589,XPH,Công ty Cổ phần Xà phòng Hà Nội,Hàng cá nhân,Hàng cá nhân & Gia dụng,Hàng cá nhân,CT,3000,3700,3760,3767
1590,XMP,Công ty Cổ phần Thủy điện Xuân Minh,Sản xuất & Phân phối Điện,"Điện, nước & xăng dầu khí đốt",Sản xuất & Phân phối Điện,CT,7000,7500,7530,7535
1591,XHC,Công ty Cổ phần Xuân Hòa Việt Nam,Hàng gia dụng,Hàng cá nhân & Gia dụng,Thiết bị gia dụng,CT,3000,3700,3720,3726

### Danh sách cổ phiếu theo nhóm

In [ ]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
stock.listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### Danh sách mã ngành theo mã icb

In [ ]:
stock.listing.industries_icb()

                 icb_name               en_icb_name icb_code  level
0        Sản xuất Dầu khí       Oil & Gas Producers     0530      3
1                 Dầu khí                 Oil & Gas     0500      2
2                Hóa chất                 Chemicals     1300      2
3       Tài nguyên Cơ bản           Basic Resources     1700      2
4    Xây dựng và Vật liệu  Construction & Materials     2300      2
..                    ...                       ...      ...    ...
150            Viễn thông        Telecommunications     6000      1
151    Tiện ích Cộng đồng                 Utilities     7000      1
152             Tài chính                Financials     8000      1
153             Ngân hàng                     Banks     8301      1
154   Công nghệ Thông tin                Technology     9000      1

[155 rows x 4 columns]

## Quote: Giá chứng khoán

#### Giá lịch sử

##### Cổ phiếu

In [ ]:
df = stock.quote.history(start='2024-01-01', end='2025-03-19', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

In [ ]:
# Tất cả dataframe dữ liệu sẽ được gán thuộc tính tên và loại tài sản tương ứng
print(f'Mã chứng khoán: {df.name}')
print(f'Loại tài sản: {df.category}')

Mã chứng khoán: ACB
Loại tài sản: stock

##### Hợp đồng tương lai

In [ ]:
stock.quote.history(symbol='VN30F1M', start='2024-01-02', end='2025-03-19', interval='1D')

          time    open    high     low   close  volume
0   2024-01-02  1138.5  1141.8  1131.0  1133.5  167307
1   2024-01-03  1127.2  1149.8  1126.7  1148.3  173569
2   2024-01-04  1146.0  1171.0  1145.5  1156.5  260804
3   2024-01-05  1156.1  1166.1  1154.2  1166.0  199452
4   2024-01-08  1166.1  1173.3  1160.6  1162.0  182329
..         ...     ...     ...     ...     ...     ...
295 2025-03-13  1390.0  1393.4  1384.3  1385.5  201319
296 2025-03-14  1383.5  1393.8  1382.2  1385.0  193169
297 2025-03-17  1387.1  1391.7  1386.1  1390.3  129550
298 2025-03-18  1394.0  1395.2  1385.6  1387.5  136687
299 2025-03-19  1385.9  1385.9  1376.7  1377.0  170296

[300 rows x 6 columns]

In [ ]:
stock.quote.history(symbol='VN30F2411', start='2024-01-02', end='2025-03-19', interval='1D')

         time    open    high     low   close  volume
0  2024-09-20  1331.9  1338.7  1315.0  1331.5     496
1  2024-09-23  1332.0  1333.3  1326.6  1327.3     253
2  2024-09-24  1327.3  1335.8  1323.9  1335.1     254
3  2024-09-25  1334.8  1350.8  1334.8  1344.1     511
4  2024-09-26  1346.8  1366.5  1346.8  1358.2     575
5  2024-09-27  1359.7  1363.0  1353.1  1357.0     241
6  2024-09-30  1354.9  1360.3  1351.2  1357.8     324
7  2024-10-01  1362.3  1375.0  1359.9  1363.0     379
8  2024-10-02  1354.5  1362.3  1353.9  1361.3     299
9  2024-10-03  1362.0  1377.9  1351.6  1355.0     714
10 2024-10-04  1354.2  1354.6  1344.0  1345.0     616
11 2024-10-07  1349.9  1351.3  1335.9  1340.6     567
12 2024-10-08  1341.5  1350.3  1339.4  1345.0     524
13 2024-10-09  1347.5  1360.0  1345.2  1360.0     820
14 2024-10-10  1365.0  1374.8  1361.0  1366.2     836
15 2024-10-11  1368.5  1368.9  1357.2  1368.0     940
16 2024-10-14  1379.8  1379.8  1361.6  1363.5    7235
17 2024-10-15  1365.0  1374.1  1359.8  1361.9   19903
18 2024-10-16  1360.1  1365.3  1358.0  1362.9   25411
19 2024-10-17  1365.0  1369.5  1353.8  1369.0   55333
20 2024-10-18  1374.6  1377.9  1363.8  1365.9  257597
21 2024-10-21  1364.0  1369.9  1362.5  1363.9  165731
22 2024-10-22  1360.0  1363.3  1350.0  1352.2  195827
23 2024-10-23  1353.0  1355.4  1345.1  1354.0  210171
24 2024-10-24  1352.5  1354.1  1336.1  1338.0  233341
25 2024-10-25  1338.5  1339.8  1326.0  1327.2  226084
26 2024-10-28  1330.0  1332.4  1327.2  1332.0  130507
27 2024-10-29  1334.0  1341.0  1334.0  1339.4  164121
28 2024-10-30  1341.6  1342.7  1331.5  1342.0  186935
29 2024-10-31  1339.0  1347.8  1333.7  1343.5  202412
30 2024-11-01  1340.4  1340.4  1326.1  1330.4  215897
31 2024-11-04  1332.8  1332.8  1317.1  1318.5  213933
32 2024-11-05  1319.3  1324.0  1317.4  1319.0  142162
33 2024-11-06  1325.0  1341.8  1324.0  1341.0  214890
34 2024-11-07  1342.0  1343.6  1333.5  1334.7  190000
35 2024-11-08  1337.5  1340.3  1318.3  1324.0  220730
36 2024-11-11  1323.6  1324.0  1306.1  1320.1  233948
37 2024-11-12  1321.1  1323.5  1302.7  1310.0  246958
38 2024-11-13  1305.7  1313.1  1298.2  1307.3  265510
39 2024-11-14  1306.0  1309.9  1292.9  1292.9  251563
40 2024-11-15  1292.7  1292.7  1275.1  1275.6  253504
41 2024-11-18  1271.5  1280.3  1261.8  1273.2  245512
42 2024-11-19  1272.4  1274.8  1262.2  1262.3  265393
43 2024-11-20  1260.8  1280.0  1253.5  1270.0  322061
44 2024-11-21  1267.8  1283.4  1264.6  1281.3  215891

##### Chỉ số

In [ ]:
stock.quote.history(symbol='VNINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time     open     high      low    close      volume
0   2024-01-02  1138.01  1139.71  1128.69  1131.72   842255467
1   2024-01-03  1131.97  1144.17  1128.32  1144.17   719932658
2   2024-01-04  1145.49  1160.08  1144.32  1150.72  1181354559
3   2024-01-05  1151.43  1155.84  1149.08  1154.68   803268328
4   2024-01-08  1157.54  1162.56  1155.48  1160.19   905408420
..         ...      ...      ...      ...      ...         ...
295 2025-03-13  1336.41  1340.91  1324.87  1326.27  1066649034
296 2025-03-14  1325.84  1333.32  1324.30  1326.15  1019963200
297 2025-03-17  1330.62  1336.26  1329.05  1336.26   951867643
298 2025-03-18  1340.59  1341.65  1330.97  1330.97   898223931
299 2025-03-19  1330.46  1330.70  1320.85  1324.63   945849600

[300 rows x 6 columns]

In [ ]:
stock.quote.history(symbol='HNXINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time    open    high     low   close     volume
0   2024-01-02  230.69  232.40  229.70  229.99   59394600
1   2024-01-03  230.37  231.64  229.87  231.64   57900400
2   2024-01-04  231.63  233.66  231.63  232.56  111741500
3   2024-01-05  232.56  233.35  231.69  232.76   59577900
4   2024-01-08  232.76  234.88  232.38  233.33   82783300
..         ...     ...     ...     ...     ...        ...
295 2025-03-13  240.16  244.77  239.46  241.31   61855000
296 2025-03-14  240.80  244.22  239.44  242.73   72771700
297 2025-03-17  242.82  246.98  242.37  246.77   56438200
298 2025-03-18  246.77  250.38  246.66  247.03   47516800
299 2025-03-19  247.01  247.97  244.16  245.28   44876800

[300 rows x 6 columns]

In [ ]:
stock.quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time    open    high    low   close    volume
0   2024-01-02   87.05   88.06  87.00   87.58  34702000
1   2024-01-03   87.62   87.92  87.26   87.80  31183200
2   2024-01-04   87.80   88.15  87.31   87.73  43019000
3   2024-01-05   87.75   88.18  87.30   87.93  38998900
4   2024-01-08   87.93   88.55  87.54   87.79  31658800
..         ...     ...     ...    ...     ...       ...
295 2025-03-13   99.32   99.93  98.76   99.00  53855000
296 2025-03-14   99.02   99.72  98.93   99.38  57628600
297 2025-03-17   99.38  100.98  99.35  100.42  44966300
298 2025-03-18  100.76  101.75  99.99  100.30  57926300
299 2025-03-19  100.68  100.72  99.09   99.36  41489700

[300 rows x 6 columns]

##### Chứng quyền

In [ ]:
stock.quote.history(symbol='CFPT2314', start='2024-01-02', end='2025-03-19', interval='1D')

          time  open  high   low  close  volume
0   2024-01-02  1.95  1.95  1.90   1.90   13300
1   2024-01-03  1.85  1.89  1.85   1.89   11800
2   2024-01-04  1.96  1.99  1.94   1.94   50800
3   2024-01-05  1.95  1.95  1.95   1.95     500
4   2024-01-08  1.93  1.99  1.93   1.97    5700
..         ...   ...   ...   ...    ...     ...
249 2024-12-31  7.59  7.95  7.56   7.78  312200
250 2025-01-02  7.79  7.81  7.53   7.60   18700
251 2025-01-03  7.61  7.65  7.54   7.54   45600
252 2025-01-06  7.46  7.53  7.42   7.47  220400
253 2025-01-07  7.49  7.56  7.49   7.51  161300

[254 rows x 6 columns]

##### Trái phiếu niêm yết

In [ ]:
stock.quote.history(symbol='CII424002', start='2024-01-02', end='2025-03-19', interval='1D')

          time    open    high     low   close  volume
0   2024-04-11  120.00  139.50  120.00  135.00  186701
1   2024-04-12  132.50  135.10  125.00  130.20  111161
2   2024-04-15  130.20  130.30  123.00  123.50   61607
3   2024-04-16  123.00  123.00  117.00  117.00   31563
4   2024-04-17  114.20  119.00  110.90  117.00   11721
..         ...     ...     ...     ...     ...     ...
227 2025-03-13  125.90  125.90  125.90  125.90      10
228 2025-03-14  125.00  126.00  125.00  126.00    2000
229 2025-03-17  126.00  127.00  126.00  127.00    6014
230 2025-03-18  127.01  128.50  127.01  128.00    1780
231 2025-03-19  127.01  127.01  127.01  127.01   83350

[232 rows x 6 columns]

#### Intraday: dữ liệu khớp lệnh

In [ ]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
stock.quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

                          time    price  volume match_type         id
0    2025-03-27 09:15:02+07:00  26000.0  179400        ATO  282549555
1    2025-03-27 09:15:03+07:00  26000.0    2700       Sell  282549782
2    2025-03-27 09:15:03+07:00  26000.0     100       Sell  282549779
3    2025-03-27 09:15:03+07:00  26000.0     300       Sell  282549780
4    2025-03-27 09:15:03+07:00  26000.0     300       Sell  282549781
...                        ...      ...     ...        ...        ...
2558 2025-03-27 14:29:53+07:00  25950.0     300       Sell  282855822
2559 2025-03-27 14:29:53+07:00  25950.0     100       Sell  282855823
2560 2025-03-27 14:29:53+07:00  25950.0     200       Sell  282855824
2561 2025-03-27 14:29:55+07:00  26000.0     200        Buy  282855901
2562 2025-03-27 14:45:00+07:00  26000.0  451200        ATC  282856630

[2563 rows x 5 columns]

In [ ]:
# Bước giá và khối lượng giao dịch: realtime
stock.quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  26200     128800         128800               0                    0
1  26150     732200         318600          413600                    0
2  26100    1240700         431600          809100                    0
3  26050     773500         204800          568700                    0
4  26000    3369900         486900         2252400               630600
5  25950     404000              0          404000                    0

## Trading: Giao dịch

### Bảng giá

In [ ]:
stock.trading.price_board(['ACB'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     ACB   27950  24350     26150      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0   4466657912  STOCK  8424512  ...       25900       469600       25850

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0       151300       26000          200       26050       734100       26100


  ask_3_volume
0       175600

[1 rows x 41 columns]

In [ ]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                                                                                  0  \
listing symbol                                                                  VCB
        ceiling                                                               70400
        floor                                                                 61200
        ref_price                                                             65800
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     8355691435
        type                                                                  STOCK
        id                                                                  8424561
        organ_name                Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
        prior_close_price                                                     65800
        benefit
        trading_date                                                     2025-03-27
match   match_price                                                           65500
        match_vol                                                             52700
        accumulated_volume                                                   901500
        accumulated_value                                                     59265
        avg_match_price                                                65740.432612
        highest                                                               65900
        lowest                                                                65500
        match_type                                                          unknown
        foreign_sell_volume                                                  364709
        foreign_buy_volume                                                   287500
        current_room                                                      407163890
        total_room                                                       1676727378
        total_accumulated_value                                            59265.82
        total_accumulated_volume                                               9015
        reference_price                                                       65800
bid_ask bid_1_price                                                           65500
        bid_1_volume                                                         140600
        bid_2_price                                                           65400
        bid_2_volume                                                          20100
        bid_3_price                                                           65300
        bid_3_volume                                                          41700
        ask_1_price                                                           65600
        ask_1_volume                                                           2500
        ask_2_price                                                           65700
        ask_2_volume                                                           8400
        ask_3_price                                                           65800
        ask_3_volume                                                          26500

                                                                    1  \
listing symbol                                                    ACB
        ceiling                                                 27950
        floor                                                   24350
        ref_price                                               26150
        stock_type                                              STOCK
        exchange                                                  HSX
        last_trading_date
        listed_share                                       4466657912
        type                                                    STOCK
        id                                                    8424512
        organ_name                Ngân hàng Thương mại Cổ phần Á Châu
        prior_close_price                                       26150
        benefit
        trading_date                                       2025-03-27
match   match_price                                             26000
        match_vol                                              451200
        accumulated_volume                                    6649100
        accumulated_value                                      173154
        avg_match_price                                  26041.719932
        highest                                                 26200
        lowest                                                  25950
        match_type                                            unknown
        foreign_sell_volume                                         0
        foreign_buy_volume                                          0
        current_room                                                0
        total_room                                         1339997373
        total_accumulated_value                            173154.735
        total_accumulated_volume                                66491
        reference_price                                         26150
bid_ask bid_1_price                                             25950
        bid_1_volume                                           260800
        bid_2_price                                             25900
        bid_2_volume                                           469600
        bid_3_price                                             25850
        bid_3_volume                                           151300
        ask_1_price                                             26000
        ask_1_volume                                              200
        ask_2_price                                             26050
        ask_2_volume                                           734100
        ask_3_price                                             26100
        ask_3_volume                                           175600

                                                                                2  \
listing symbol                                                                TCB
        ceiling                                                             29950
        floor                                                               26050
        ref_price                                                           28000
        stock_type                                                          STOCK
        exchange                                                              HSX
        last_trading_date
        listed_share                                                   7064851739
        type                                                                STOCK
        id                                                                8424683
        organ_name                Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam
        prior_close_price                                                   28000
        benefit
        trading_date                                                   2025-03-27
match   match_price                                                         27750
        match_vol                                                          665000
        accumulated_volume                                                7518900
        accumulated_value                                                  210396
        avg_match_price                                              27982.284643
        highest                                                             28150
        lowest                                                              27750
        match_type                                                        unknown
        foreign_sell_volume                                                421488
        foreign_buy_volume                                                 766888
        current_room                                                            0
        total_room                                                     1590552461
        total_accumulated_value                                         210396.96
        total_accumulated_volume                                            75189
        reference_price                                                     28000
bid_ask bid_1_price                                                         27750
        bid_1_volume                                                       196200
        bid_2_price                                                         27700
        bid_2_volume                                                       125500
        bid_3_price                                                         27650
        bid_3_volume                                                         5400
        ask_1_price                                                         27800
        ask_1_volume                                                       111200
        ask_2_price                                                         27850
        ask_2_volume                                                        23100
        ask_3_price                                                         27900
        ask_3_volume                                                       155200

                                                                                  3
listing symbol                                                                  BID
        ceiling                                                               42300
        floor                                                                 36800
        ref_price                                                             39550
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     6897515268
        type                                                                  STOCK
        id                                                                  8424583
        organ_name                Ngân hàng Thương mại Cổ phần Đầu tư và Phát tr...
        prior_close_price                                                     39550
        benefit
        trading_date                                                     2025-03-27
match   match_price                                                           39100
        match_vol                                                            182000
        accumulated_volume                                                  1862400
        accumulated_value                                                     73069
        avg_match_price                                                39233.784364
        highest                                                               39650
        lowest                                                                39100
        match_type                                                          unknown
        foreign_sell_volume                                                   32778
        foreign_buy_volume                                                     4400
        current_room                                                      869040725
        total_room                                                       2106408575
        total_accumulated_value                                            73069.39
        total_accumulated_volume                                              18624
        reference_price                                                       39550
bid_ask bid_1_price                                                           39100
        bid_1_volume                                                         100000
        bid_2_price                                                           39050
        bid_2_volume                                                          36500
        bid_3_price                                                           39000
        bid_3_volume                                                         301900
        ask_1_price                                                           39150
        ask_1_volume                                                          30000
        ask_2_price                                                           39200
        ask_2_volume                                                           5000
        ask_3_price                                                           39250
        ask_3_volume                                                          12600

## Company: Thông tin công ty

> Đã bổ sung nguồn dữ liệu từ VCI từ bản Vnstock3.2.0

### New - VCI

In [ ]:
# # Khởi tạo đối tượng
# from vnstock import Vnstock
# company = Vnstock().stock(symbol='ACB', source='VCI').company

# hoặc
from vnstock.explorer.vci import Company
company = Company('ACB')

Loại bỏ đoạn mã `.head()` để xem toàn bộ dữ liệu thay vì chỉ lấy 5 dòng đầu tiên.

#### Hồ sơ

In [ ]:
company.overview()

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,4466657912,- Ngày 24/04/1993: Ngân hàng Thương mại Cổ ph...,Ngân hàng Thương mại Cổ phần Á Châu (ACB) được...,Ngân hàng,Ngân hàng,Ngân hàng,4466657900,44666579120000

#### Cổ đông

In [ ]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,76868950,Vietnam Enterprise Investments Limited,212880184,5.480880e-02,2024-09-13
1,76863823,Sather Gate Investments Limited,193907186,4.990000e-02,2024-05-15
2,76861604,Phạm Thị Thu Hà,285000,4.990000e-02,2016-05-20
3,76845328,Estes Investments Limited,83010435,4.990000e-02,2024-05-15
4,76865801,Trần Hùng Huy,153062159,3.940000e-02,2025-01-24
...,...,...,...,...,...
81,76858006,Nguyễn Thị Tuyết Vân,88722,1.730000e-05,2025-01-24
82,76863346,Quỹ Đầu tư Cổ phiếu Năng động Bảo Việt,22065,1.327000e-05,2025-02-03
83,76843608,Đinh Thị Hoa,67200,1.200000e-05,2025-01-24
84,76839576,Công ty Cổ phần Chứng khoán Thiên Việt,5285,1.500000e-06,2022-07-25
85,76853275,Nguyễn Hồng Nga,2008,7.000000e-07,2022-08-31

#### Công ty con

In [ ]:
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name,type
0,21757755,ACBA,1,Công Ty TNHH Quản Lý Nợ Và Khai Thác Tài Sản N...,công ty con
1,21757756,ACBL,1,Công Ty TNHH Một Thành Viên Cho Thuê Tài Chính...,công ty con
2,21757757,ACBS,1,Công ty TNHH Chứng khoán ACB,công ty con
0,21757759,ACBD,None,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,công ty liên kết
1,21757758,SGGS,None,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,công ty liên kết

#### Công ty liên kết

In [ ]:
# Phương thức này không có trong nguồn TCBS
company.affiliate()

,id,sub_organ_code,organ_name,ownership_percent
0,21757759,ACBD,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,None
1,21757758,SGGS,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,None

#### Lãnh đạo

In [ ]:
company.officers(filter_by='working').head() # filter_by='all' hoặc 'working' hoặc 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,6,Trần Hùng Huy,Chủ tịch Hội đồng Quản trị,Chủ tịch HĐQT,2025-01-24,0.0394,153062159
1,7,Đặng Thu Thủy,Thành viên Hội đồng Quản trị,TV HĐQT,2025-01-24,0.0137,53350036
2,11,Đặng Phú Vinh,Giám đốc khối,GĐ Khối,2025-01-24,0.0042,16454507
3,13,Đỗ Minh Toàn,Tổng Giám đốc,TGĐ,2025-01-24,0.0008,3202886
4,8,Nguyễn Thành Long,Phó Chủ tịch Hội đồng Quản trị,Phó Chủ tịch HĐQT,2025-01-24,0.0004,1647067

#### Tin tức

In [ ]:
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,7009867,ACB: Báo cáo kết quả giao dịch cổ phiếu của t...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1742998200000,None,vi,11505980,ACB: Báo cáo kết quả giao dịch cổ phiếu của t...,<p>Công ty TNHH MTV Nhật Quân HQ báo cáo kết q...,26150,26300,24500,28100,-0.005703
1,7001147,ACB: Báo cáo thường niên năm 2024,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1742901180000,None,vi,11504387,ACB: Báo cáo thường niên năm 2024,<p>Ngân hàng Thương mại Cổ phần Á Châu công bố...,26300,26350,24550,28150,-0.001898
2,6944486,ACB: Công ty TNHH MTV Nhật Quân HQ đăng ký bá...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1742315220000,None,vi,11497368,ACB: Thông báo giao dịch cổ phiếu của tổ chức...,<p>Công ty TNHH MTV Nhật Quân HQ thông báo gia...,26300,26200,24400,28000,0.003817

#### Sự kiện

In [ ]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,23057391,ACB - Trả cổ tức Cả năm năm 2022 bằng tiền 100...,ACB - Pay cash dividend 2022 - Year at VND 100...,2023-05-25,2023-06-12,http://fiinpro.com/News/Detail/10793461?lang=v...,DIV,0.1,1000.0,2023-06-02,2023-06-01,Trả cổ tức bằng tiền mặt,Cash Dividend
1,38768795,ACB - Trả cổ tức Cả năm năm 2023 bằng tiền 100...,ACB - Pay cash dividend 2023 - Year at VND 100...,2024-05-24,2024-06-13,http://fiinpro.com/News/Detail/11196089?lang=v...,DIV,0.1,1000.0,2024-06-03,2024-05-31,Trả cổ tức bằng tiền mặt,Cash Dividend
2,18129,Phát hành cổ phiếu,,2010-11-18,2010-11-30,,ISS,NaN,NaN,2010-11-30,2010-11-26,Phát hành cổ phiếu,Share Issue

#### Báo cáo phân tích

In [ ]:
company.reports()

,date,description,link,name
0,2025-01-22T00:00:00Z,Ngân hàng Thương Mại Cổ Phần Á Châu (ACB) đã c...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tập trung vào tăng trưởng tín dụng hơn t...
1,2024-10-24T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD 9 thá...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB – NOII thấp hơn dự kiến, ảnh hưởng tiêu cự..."
2,2024-09-09T00:00:00Z,- Chúng tôi tiếp tục duy trì giá mục tiêu đối ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +35,0%] - Tăng dự báo tăng trưởng tín..."
3,2024-07-23T00:00:00Z,ACB đã công bố KQKD nửa đầu năm 2024 với thu n...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - Tín dụng tăng trưởng mạnh, chất lượng tà..."
4,2024-06-04T00:00:00Z,"- Chúng tôi điều chỉnh tăng 8,6% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +33,7%] - NIM tương đối đi ngang tron..."
5,2024-04-26T00:00:00Z,"ACB đã công bố KQKD quý 1/2024 với TOI đạt 8,2...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB – NOII thấp, chất lượng tài sản được duy t..."
6,2024-04-04T00:00:00Z,Chúng tôi đã tham dự ĐHCĐ của Ngân hàng TMCP Á...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - Tín dụng tăng trưởng mạnh, duy trì tỷ lệ..."
7,2024-03-05T00:00:00Z,"- Chúng tôi điều chỉnh tăng 7,6% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +26,3%] - Tăng trưởng ổn định nhờ cho..."
8,2024-01-26T00:00:00Z,"ACB công bố KQKD năm 2023 với TOI đạt 32,7 ngh...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB – Tăng trưởng tín dụng vượt kỳ vọng, lợi n..."
9,2023-11-15T00:00:00Z,- Chúng tôi điều chỉnh tăng giá mục tiêu cho N...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +42,7%] - Chiến lược rủi ro thấp mang..."

#### Tình hình tài chính

In [ ]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,ACB,2024,5,1741199572843,50902749000000,-0.027586,16789768000000,0.046435,0,0.217459,...,0,1.868549,0,0,0,0,0,0,None,0

#### Thống kê giao dịch

In [ ]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,ACB,HOSE,116803104085000,28100,24500,26300,26300,26150,26150,-150,...,26800,22218,0.170337,-0.018762,0,1339997373,6998548,1339997373,0.3,0.3

### TCBS

In [ ]:
from vnstock import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

2025-03-27 22:37:18 - vnstock.common.data.data_explorer - INFO - TCBS không cung cấp thông tin danh sách. Dữ liệu tự động trả về từ VCI.

#### Tổng quan

In [ ]:
company.overview()

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,VCB,HOSE,Ngân hàng,NH,25183,0.227,8355.7,5589.1,2008,24306,2.6,-0.019,0.045,-0.016,Vietcombank,https://vietcombank.com.vn,289,8355

#### Hồ sơ

In [ ]:
company.profile()

,symbol,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,VCB,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...,Ngân hàng Thương mại Cổ phần Ngoại thương Việ...,Ngày 30/10/1962: Ngân hàng Ngoại thương Việt...,None,Rủi ro địa chính trị và nguy cơ chiến tranh ...,Dịch vụ tài khoản Dịch vụ huy động vốn (tiền...,"Ngân hàng số 1 tại Việt Nam, một trong 100 ng..."

#### Cổ đông

In [ ]:
company.shareholders()

                  share_holder  share_own_percent
0  Ngân Hàng Nhà Nước Việt Nam             0.7480
1          Mizuho Bank Limited             0.1500
2                         Khác             0.0207

#### Giao dịch nội bộ

In [ ]:
company.insider_deals().head(3)

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2025-02-20,Cổ đông nội bộ,Mua,10000.0,61338.0,0.068
1,2023-12-21,Cổ đông nội bộ,Mua,5000.0,54114.0,0.210
2,2020-12-30,Cổ đông sáng lập,Bán,-2523.0,42927.0,0.526

#### Công ty con, liên kết

In [ ]:
company.subsidiaries().head()

                                    sub_company_name  sub_own_percent
0  Công ty TNHH Chứng khoán Ngân hàng Thương mại ...              1.0
1  Công Ty TNHH Một Thành Viên Kiều Hối Ngân Hàng...              1.0
2  Công ty TNHH MTV Cho Thuê Tài Chính Ngân Hàng ...              1.0
3      Công ty TNHH Tài Chính Việt Nam Tại Hồng Kông              1.0
4   Ngân Hàng TNHH MTV Ngoại Thương Việt Nam Tại Lào              1.0

#### Ban lãnh đạo

In [ ]:
company.officers().head()

         officer_name              officer_position  officer_own_percent
3   Nguyễn Danh Lương  Thành viên Hội đồng Quản trị                  0.0
10     Lê Thị Kim Nga  Thành viên Hội đồng Quản trị                  0.0
15         Lê Thị Hoa  Thành viên Hội đồng Quản trị                  0.0
12   Đỗ Thị Mai Hương      Thành viên Ban kiểm soát                  0.0
5   Nguyễn Danh Lương   Phụ trách Công bố thông tin                  0.0

#### Sự kiện

In [ ]:
company.events().head()

The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,73.4,58.0,2584165,66700.0,1950.0,0.030,0.090,VCB - Tổ chức ĐHĐCĐ thường niên 2025,AGME,2025-03-12,2025-04-26,2025-03-26,2025-03-25,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
1,54.0,37.0,2583928,62542.0,334.0,0.005,0.006,"VCB - Phát hành cổ phiếu trả cổ tức tỷ lệ 49,5%",ISS,2025-03-06,2025-03-12,2025-03-13,2025-03-12,Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
2,46.6,29.0,2582516,61338.0,0.0,0.000,0.000,VCB - Kết quả giao dịch nội bộ/CĐL,DDALL,2025-02-20,2025-02-19,1753-01-01,1753-01-01,- Cá nhân/Tổ chức thực hiện giao dịch: Phùng N...
3,55.4,44.0,2581736,62208.0,67.0,0.001,0.008,VCB - Thông báo đăng ký giao dịch nội bộ/CĐL,DDALL,2025-02-07,2025-03-12,1753-01-01,1753-01-01,- Cá nhân/Tổ chức thực hiện giao dịch: Phùng N...
4,52.8,52.0,2580835,61940.0,67.0,0.001,0.005,VCB - BCTC Quý 4/2024,KQQY,2025-01-24,2025-01-24,1753-01-01,1753-01-01,VCB - BCTC Quý 4/2024

#### Tin tức

In [ ]:
company.news().head()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,NaN,NaN,NaN,NaN,NaN,NaN,11507583,VCB: Báo cáo kết quả phát hành cổ phiếu để tr...,TCBS,2025-03-27 15:04:00
1,NaN,NaN,NaN,NaN,NaN,NaN,11507578,VCB: Thông báo thay đổi số lượng cổ phiếu có ...,TCBS,2025-03-27 14:56:00
2,70.4,70.0,66500.0,-300.0,-0.004,0.084,11498692,VCB: HĐQT phê duyệt điều chỉnh giới hạn tín d...,TCBS,2025-03-19 15:31:00
3,70.4,70.0,66500.0,-300.0,-0.004,0.084,11498688,VCB: HĐQT phê duyệt giới hạn tín dụng đối với...,TCBS,2025-03-19 15:30:00
4,68.2,63.0,66000.0,500.0,0.008,0.077,11494381,VCB: Nghị quyết HĐQT về việc phê duyệt giới h...,TCBS,2025-03-14 17:15:00

#### Cổ tức

In [ ]:
company.dividends().head()

  exercise_date  cash_year  cash_dividend_percentage issue_method
0    2025-03-12       2025                     0.495        share
1    2023-07-25       2023                     0.181        share
2    2021-12-22       2022                     0.276        share
3    2021-12-22       2020                     0.120         cash
4    2020-12-21       2019                     0.080         cash

## Finance: Báo cáo tài chính

In [ ]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='ACB', source='VCI')

### Bảng cân đối kế toán

In [ ]:
stock.finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,Năm,TỔNG CỘNG TÀI SẢN (đồng),Tiền và tương đương tiền (đồng),Tiền gửi tại ngân hàng nhà nước Việt Nam,Tiền gửi tại các TCTD khác và cho vay các TCTD khác,Chứng khoán kinh doanh,_Chứng khoán kinh doanh,Dự phòng giảm giá chứng khoán kinh doanh,Các công cụ tài chính phái sinh và khoản nợ tài chính khác,...,Tiền gửi của khách hàng,_Các công cụ tài chính phái sinh và khoản nợ tài chính khác,"Vốn tài trợ, uỷ thác đầu tư của CP và các tổ chức TD khác",Phát hành giấy tờ có giá,Các khoản nợ khác,VỐN CHỦ SỞ HỮU (đồng),Vốn của tổ chức tín dụng,Quỹ của tổ chức tín dụng,Lãi chưa phân phối (đồng),Vốn góp của chủ sở hữu (đồng)
0,ACB,2024,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,55992000000,...,537304578000000,0,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,23733752000000,44666579000000
1,ACB,2023,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,0,...,482702731000000,117126000000,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,20286243000000,38840504000000
2,ACB,2022,607875185000000,8460892000000,13657531000000,85971313000000,1131327000000,1320941000000,-189614000000,100072000000,...,413952789000000,0,60188000000,44304367000000,22772462000000,58438663000000,34046130000000,9220125000000,15172408000000,33774351000000
3,ACB,2021,527769944000000,7509877000000,32349574000000,49818776000000,11259731000000,11325371000000,-65640000000,226545000000,...,379920669000000,0,86066000000,30547883000000,17920478000000,44900909000000,27291260000000,7164297000000,10445352000000,27019481000000
4,ACB,2020,444530104000000,6967918000000,16616798000000,31671245000000,6167917000000,6285763000000,-117846000000,54473000000,...,353195838000000,0,116705000000,22049697000000,9844459000000,35448163000000,21887364000000,5741759000000,7819040000000,21615585000000
5,ACB,2019,383514439000000,6437812000000,10420306000000,30341599000000,2985262000000,3145903000000,-160641000000,87753000000,...,308129391000000,0,156147000000,20830836000000,7384134000000,27765359000000,16799171000000,4595902000000,6370286000000,16627373000000
6,ACB,2018,329333241000000,6129169000000,10683536000000,18769776000000,1177972000000,1339157000000,-161185000000,0,...,269998503000000,38198000000,160093000000,8290918000000,6035148000000,21017899000000,12220152000000,3693069000000,5104678000000,12885877000000
7,ACB,2017,284316123000000,4851710000000,8314574000000,8941727000000,1236555000000,1239991000000,-3436000000,0,...,241392932000000,10491000000,136466000000,6761000000000,4530641000000,16030847000000,9607514000000,2913780000000,3509553000000,10273239000000
8,ACB,2016,233680877000000,3541388000000,5119306000000,8152027000000,1183306000000,1211314000000,-28008000000,16065000000,...,207051269000000,0,122697000000,6615000000000,3594080000000,14062716000000,8711240000000,2590181000000,2761295000000,9376965000000
9,ACB,2015,201456985000000,2806088000000,4608680000000,10122200000000,100457000000,103034000000,-2577000000,47603000000,...,174918997000000,0,161678000000,3075000000000,2901457000000,12787542000000,8711240000000,2374178000000,1702124000000,9376965000000
10,ACB,2014,179609771000000,2496287000000,3357730000000,4559007000000,1105122000000,1108232000000,-3110000000,14403000000,...,154613588000000,0,188155000000,3078000000000,3187487000000,12397303000000,8711841000000,2207666000000,1477796000000,9376965000000
11,ACB,2013,166598989000000,2043490000000,3065322000000,7215519000000,851161000000,1078309000000,-227148000000,150000000,...,138110836000000,0,363345000000,3500000000000,2743684000000,12504202000000,9117544000000,2034952000000,1351706000000,9376965000000

In [ ]:
stock.finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,TOTAL ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Balances with the SBV,Placements with and loans to other credit institutions,"Trading Securities, net",Trading Securities,Provision for diminution in value of Trading Securities,...,"Funds received from Gov, international and other institutions",Convertible bonds/CDs and other valuable papers issued,Other liabilities,OWNER'S EQUITY(Bn.VND),Capital,Reserves,Foreign Currency Difference reserve,Undistributed earnings (Bn. VND),Paid-in capital (Bn. VND),MINORITY INTERESTS
0,ACB,2024,4,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,...,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,0,23733752000000,44666579000000,0
1,ACB,2024,3,777392922000000,5870526000000,8392393000000,92090423000000,6965867000000,7059448000000,-93581000000,...,31641000000,90366104000000,22478444000000,78854261000000,44938358000000,11557435000000,-62053000000,22420521000000,44666579000000,0
2,ACB,2024,2,769678700000000,6594138000000,15724945000000,105419092000000,6125105000000,6236053000000,-110948000000,...,33175000000,66953215000000,22365462000000,74792678000000,44938358000000,11557435000000,-253241000000,18550126000000,44666579000000,0
3,ACB,2024,1,727297968000000,6470319000000,7851936000000,121950918000000,7377873000000,7469189000000,-91316000000,...,37321000000,49011681000000,20710083000000,74790732000000,39112283000000,11557435000000,-70648000000,24191662000000,38840504000000,0
4,ACB,2023,4,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,...,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,0,20286243000000,38840504000000,0

### Báo cáo lãi lỗ

In [ ]:
stock.finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,Năm,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),Thu nhập lãi và các khoản tương tự,Chi phí lãi và các khoản tương tự,Thu nhập lãi thuần,Thu nhập từ hoạt động dịch vụ,...,Chi phí quản lý DN,LN từ HĐKD trước CF dự phòng,Chi phí dự phòng rủi ro tín dụng,LN trước thuế,Thuế TNDN,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Lợi nhuận thuần,Cổ đông của Công ty mẹ,Lãi cơ bản trên cổ phiếu
0,ACB,2024,50902749000000,-0.027586,16789768000000,0.046435,50902749000000,-23108047000000,27794702000000,5464958000000,...,-10902603000000,22612156000000,-1606285000000,21005871000000,-4216103000000,-4199699000000,-16404000000,16789768000000,16789768000000,3669
1,ACB,2023,52346796000000,0.286199,16044733000000,0.172159,52346796000000,-27387226000000,24959570000000,4945751000000,...,-10874286000000,21872230000000,-1804231000000,20067999000000,-4023266000000,-3993022000000,-30244000000,16044733000000,16044733000000,3559
2,ACB,2022,40698834000000,0.207186,13688193000000,0.425446,40698834000000,-17165305000000,23533529000000,5057559000000,...,-11605045000000,17185022000000,-70814000000,17114208000000,-3426015000000,-3445611000000,19596000000,13688193000000,13688193000000,3486
3,ACB,2021,33713810000000,0.058327,9602746000000,0.249898,33713810000000,-14769018000000,18944792000000,4026460000000,...,-8229776000000,15334221000000,-3336109000000,11998112000000,-2395366000000,-2389079000000,-6287000000,9602746000000,9602746000000,2799
4,ACB,2020,31855748000000,0.124948,7682823000000,0.278353,31855748000000,-17273625000000,14582123000000,2803484000000,...,-7624268000000,10537041000000,-941153000000,9595888000000,-1913065000000,-1940681000000,27616000000,7682823000000,7682823000000,2808

In [ ]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
1,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0
2,ACB,2024,2,12474712000000,-0.081634,4468590000000,0.155915,12474712000000,-5363206000000,7111506000000,...,-2465618000000,6186393000000,-588150000000,5598243000000,-1129653000000,-1075344000000,-54309000000,4468590000000,4468590000000,779
3,ACB,2024,1,11987594000000,-0.093516,3905419000000,-0.055528,11987594000000,-5266076000000,6721518000000,...,-2763921000000,5404530000000,-512217000000,4892313000000,-986894000000,-1066922000000,80028000000,3905419000000,3905419000000,1006
4,ACB,2023,4,12515015000000,0.051202,4006279000000,0.395664,12515015000000,-6225399000000,6289616000000,...,-3013248000000,5365215000000,-321641000000,5043574000000,-1037295000000,-975257000000,-62038000000,4006279000000,4006279000000,1031

### Báo cáo lưu chuyển tiền tệ

In [ ]:
stock.finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Profits from other activities,Operating profit before changes in working capital,Net Cash Flows from Operating Activities before BIT,Payment from reserves,Purchase of fixed assets,Gain on Dividend,Net Cash Flows from Investing Activities,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Cash and Cash Equivalents at the end of period,Net cash inflows/outflows from operating activities,Proceeds from disposal of fixed assets,Investment in other entities,Proceeds from divestment in other entities,Dividends paid
0,ACB,2024,-164089000000,16709886000000,8371480000000,-1249000000,-919740000000,35058000000,-733310000000,-3884051000000,3752870000000,136071738000000,139824608000000,8370231000000,147865000000,0,3507000000,-3884051000000
1,ACB,2023,-18340000000,19421985000000,37137701000000,-1500000000,-1276249000000,74955000000,-1197256000000,-3377435000000,32561510000000,103510228000000,136071738000000,37136201000000,4038000000,0,0,-3377435000000
2,ACB,2022,152049000000,16413910000000,21476002000000,-201463000000,-511513000000,59599000000,-365878000000,0,20908661000000,82601567000000,103510228000000,21274539000000,4741000000,-10520000000,6451000000,0
3,ACB,2021,-94964000000,12326573000000,39927382000000,-1483000000,-636100000000,21979000000,-462403000000,-2884000000000,36579496000000,46022071000000,82601567000000,39925899000000,3265000000,0,0,0
4,ACB,2020,67987000000,9688384000000,10880417000000,-1156000000,-423132000000,17573000000,-395503000000,-140600000000,10343158000000,35678913000000,46022071000000,10879261000000,3336000000,0,0,0

In [ ]:
stock.finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
1,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0
2,ACB,2024,2,12474712000000,-0.081634,4468590000000,0.155915,12474712000000,-5363206000000,7111506000000,...,-2465618000000,6186393000000,-588150000000,5598243000000,-1129653000000,-1075344000000,-54309000000,4468590000000,4468590000000,779
3,ACB,2024,1,11987594000000,-0.093516,3905419000000,-0.055528,11987594000000,-5266076000000,6721518000000,...,-2763921000000,5404530000000,-512217000000,4892313000000,-986894000000,-1066922000000,80028000000,3905419000000,3905419000000,1006
4,ACB,2023,4,12515015000000,0.051202,4006279000000,0.395664,12515015000000,-6225399000000,6289616000000,...,-3013248000000,5365215000000,-321641000000,5043574000000,-1037295000000,-975257000000,-62038000000,4006279000000,4006279000000,1031

### Chỉ số tài chính

In [ ]:
stock.finance.ratio(period='year', lang='vi', dropna=True).head()

  Meta          Chỉ tiêu cơ cấu nguồn vốn                      \
    CP   Năm Kỳ            TSCĐ / Vốn CSH Vốn CSH/Vốn điều lệ
0  ACB  2024  5                  0.064849            1.868549
1  ACB  2023  5                  0.067120            1.588569
2  ACB  2022  5                  0.068129            1.308331
3  ACB  2021  5                  0.083797            1.005246
4  ACB  2020  5                  0.106712            0.793617

  Chỉ tiêu khả năng sinh lợi                                         \
     Biên lợi nhuận ròng (%)   ROE (%)   ROA (%) Tỷ suất cổ tức (%)
0                   0.604064  0.217459  0.021215           0.000000
1                   0.642829  0.247997  0.024188           0.038760
2                   0.581646  0.264917  0.024106           0.041841
3                   0.506881  0.239026  0.019753           0.000000
4                   0.526866  0.243075  0.018557           0.000000

  Chỉ tiêu thanh khoản Chỉ tiêu định giá                                      \
     Đòn bẩy tài chính Vốn hóa (Tỷ đồng) Số CP lưu hành (Triệu CP)       P/E
0            10.352125   116803104085000                4466657900  6.956803
1            10.130151   100208500320000                3884050400  6.405255
2            10.401935    80720698890000                3377435100  5.962443
3            11.754104    59172663390000                2701948100  6.259839
4            12.540286    74573768250000                2161558500  9.899843


        P/B       P/S P/Cash Flow    EPS (VND)    BVPS (VND)
0  1.399482  3.485124   13.954585  3758.910661  18685.486972
1  1.412263  3.060127    2.698405  4130.928116  18268.547957
2  1.381289  2.803769    3.794240  4052.836722  17302.675335
3  1.317850  2.511147    1.482062  3554.008310  16617.976119
4  2.103741  4.106189    6.854672  3554.297975  16399.353985

In [ ]:
stock.finance.ratio(period='quarter', lang='en', dropna=True).head()

    Meta                         Chỉ tiêu cơ cấu nguồn vốn  \
  ticker yearReport lengthReport               Debt/Equity
0    ACB       2024            4                  9.352125
1    ACB       2024            3                  8.858604
2    ACB       2024            2                  9.290830
3    ACB       2024            1                  8.724440
4    ACB       2023            4                  9.130151

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.064849                       1.868549
1              0.058881                       1.765397
2              0.062380                       1.674466
3              0.062450                       1.674423
4              0.067120                       1.588569

  Chỉ tiêu khả năng sinh lợi                                                  \
       Net Profit Margin (%)   ROE (%) ROIC (%)   ROA (%) Dividend yield (%)
0                   0.641974  0.217459      0.0  0.021215           0.038241
1                   0.562444  0.217115      0.0  0.021717           0.040568
2                   0.628361  0.228530      0.0  0.022928           0.038536
3                   0.581032  0.229671      0.0  0.023211           0.041667
4                   0.636967  0.247997      0.0  0.024188           0.035714

  Chỉ tiêu thanh khoản        Chỉ tiêu định giá  \
    Financial Leverage Market Capital (Bn. VND)
0            10.352125             1.168031e+14
1             9.858604             1.101031e+14
2            10.290830             1.159098e+14
3             9.724440             1.071998e+14
4            10.130151             1.087534e+14

                                                                             \
  Outstanding Share (Mil. Shares)       P/E       P/B       P/S P/Cash Flow
0                    4.466658e+09  6.956803  1.399482  3.485124   13.954586
1                    4.466658e+09  6.775292  1.396286  3.302936  -21.381995
2                    4.466658e+09  7.059978  1.549748  3.447304    7.010521
3                    4.466658e+09  6.778309  1.433330  3.248989    3.143473
4                    3.884050e+09  6.778138  1.532689  3.321068    2.928501


     EPS (VND)    BVPS (VND)
0  1017.620801  18685.486922
1   866.508042  17653.973632
2  1000.432558  16744.662223
3   874.349251  16744.226550
4  1031.469376  18268.548155

## New - Bộ lọc cổ phiếu

Hàm này chỉ tồn tại với nguồn dữ liệu TCBS

In [ ]:
# from vnstock import Screener

screener_df = stock.screener.stock(params={"exchangeName": "HOSE,HNX,UPCOM"}, limit=1700)
screener_df

,ticker,exchange,industry,market_cap,roe,stock_rating,business_operation,business_model,financial_health,alpha,...,last_quarter_revenue_growth,second_quarter_revenue_growth,last_quarter_profit_growth,second_quarter_profit_growth,pct_1y_from_peak,pct_away_from_hist_peak,pct_1y_from_bottom,pct_off_hist_bottom,price_vs_sma100,heating_up
0,A32,UPCOM,Hàng cá nhân & Gia dụng,NaN,NaN,NaN,1.7,3.5,2.6,0.1,...,NaN,NaN,NaN,NaN,-15.2,-40.9,33.1,213.5,Giá nằm dưới SMA(100),None
1,AAA,HSX,Hóa chất,3234.0,6.8,2.3,1.5,3.0,4.0,-0.2,...,43.1,-9.5,-25.9,-78.0,-33.2,-63.1,4.2,263.1,Giá nằm dưới SMA(100),None
2,AAM,HSX,Thực phẩm và đồ uống,73.0,-3.2,NaN,1.0,NaN,3.4,-0.1,...,-7.0,76.6,NaN,NaN,-27.5,-59.2,14.5,35.5,Giá nằm dưới SMA(100),None
3,AAS,UPCOM,Dịch vụ tài chính,1984.0,3.0,2.4,3.8,2.8,3.4,0.0,...,-36.8,-37.6,-71.6,-33.2,-12.2,-57.2,59.3,171.6,Giá nằm dưới SMA(100),None
4,AAT,HSX,Hàng cá nhân & Gia dụng,231.0,-0.9,2.3,1.6,2.9,3.0,-0.2,...,-43.4,-18.4,-224.3,264.1,-39.8,-82.7,6.6,1.2,Giá nằm dưới SMA(100),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1608,XVC,UPCOM,Xây dựng và Vật liệu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1609,YBC,UPCOM,Xây dựng và Vật liệu,185.0,-84.4,NaN,1.3,3.5,1.6,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1610,YBM,HSX,Tài nguyên Cơ bản,206.0,7.3,NaN,1.9,3.7,2.2,0.3,...,44.2,7.1,-7.8,-45.9,-31.1,-26.6,57.1,480.4,Giá nằm trên SMA(100),None
1611,YEG,HSX,Truyền thông,2810.0,9.0,1.9,2.0,2.4,3.4,0.3,...,139.9,209.4,384.8,325.6,-36.6,-92.1,85.0,292.4,Giá nằm dưới SMA(100),None
1612,YTC,UPCOM,Y tế,NaN,NaN,NaN,1.4,3.5,2.4,0.1,...,NaN,NaN,NaN,NaN,-51.4,-59.0,55.4,171.0,Giá nằm dưới SMA(100),None